.page_header {
  display: flex;
  height: calc(10vh - (2 * $dp));
  font-size: $dp * 2;
  background: transparent;
  padding: $dp;
  position: sticky;
  z-index: 998;
  top: 0;
  left: 0;

  &_logo {
    flex: 1;
    span {
      color: $black;
      background: $wheat;

      &::selection {
        color: $wheat;
        background: $black;
      }
    }
  }

  &_menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    span {
      color: $wheat;
    }
  }
}
