.index_page {
  width: 100vw;
  height: 100vh;
  background: $black;
  position: relative;

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    z-index: 3;
    position: relative;

    h1 {
      color: $wheat;
      font-size: 5 * $fz;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      padding-inline: $fz;
      padding: $dp * 2;

      margin-bottom: $dp * 4;
      /*
      &::after {
        content: "";
        position: absolute;
        background: $black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        animation: typing 3s 1s steps(21) forwards;
      }

      &::before {
        content: "";
        background: transparent;
        top: 0;
        bottom: 0;
        left: 2px;
        right: 0;
        position: absolute;
        border-left: 1px $wheat solid;
        z-index: 5;
        animation: bleak 3s 1s steps(21) forwards,
          typing_effect 750ms ease-in-out infinite;
      } */
    }

    .paragraphs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .location {
        color: $wheat;
        font-size: $fz * 3;
        opacity: 1;
        padding-bottom: $dp * 3;
      }

      .to-my-website {
        color: $wheat;
        font-size: $fz * 2;
        font-weight: 400;
        opacity: 1;
      }
    }

    .scroll {
      position: absolute;
      bottom: 0;
      color: $wheat;
      opacity: 0;
      left: 0;
      transform: translateX(-50%);
      text-decoration: underline;
      transform: matrix3d(0, 0, 0);
      animation: scrollme 2s ease infinite;
    }
  }

  .index_social {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    .social-nav {
      margin-left: $dp;
      ul {
        list-style: none;

        li {
          padding: $dp * 2 0;

          a {
            font-size: $fz * 1.5;
            padding: $dp 0;
            color: $wheat;
            opacity: 0.4;
            transition: opacity 400ms ease;

            &:hover {
              opacity: 1;
              transition: opacity 400ms ease;
            }
          }
        }
      }
    }
  }

  .rotating-shape {
    width: 40vw;
    height: 40vw;
    z-index: 0;
    border: 4px $wheat solid;
    background: transparent;
    position: absolute;
    opacity: 0.1;
    transform: translate(-50%, -50%) !important;
    left: 50%;
    top: 50%;

    animation: inf_loop infinite 60s linear;
  }
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes bleak {
  to {
    left: calc(100% - 2px);
  }
}

@keyframes typing_effect {
  to {
    border-left: none;
  }
}

@keyframes scrollme {
  to {
    opacity: 0.6;
  }
}

@keyframes inf_loop {
  0% {
    transform: rotate(0deg) translate(0%, 50%);
  }
  30% {
    transform: rotate(180deg) translate(-50%, -50%);
  }

  60% {
    transform: rotate(240deg) translate(-100%, -100%);
  }

  100% {
    transform: rotate(360deg) translate(0%, 50%);
  }
}

@include adapt-to(sm) {
  .index_page {
    .welcome {
      height: 70vh;
      h1 {
        font-size: $fz * 7;
        padding: 0;
      }
      .paragraphs {
        .location {
          font-size: $fz * 4;
        }

        .to-my-website {
          font-size: $fz * 3.2;
          font-weight: 400;
        }
      }
    }
    .index_social {
      top: 105%;
      .social-nav {
        ul {
          li {
            padding: $dp 0;
            a {
            }
          }
        }
      }
    }
  }
}

@include adapt-to(lg) {
  .index_page {
    height: 70vh;
    .index_social {
      height: max-content;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0) !important;
      display: flex;
      justify-content: center;
      .social-nav {
        ul {
          display: flex;

          li {
            padding-inline: 1.6 * $dp;

            &:first-child {
              padding-left: 0;
            }

            a {
              font-size: 5 * $fz;
            }
          }
        }
      }
    }
  }
}

@include adapt-to(xl) {
  .index_page {
    .index_social {
      .social-nav {
        ul {
          li {
            a {
              font-size: 5 * $fz;
            }
          }
        }
      }
    }
  }
}
