@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$fira : "Fira Code", monospace;

$black: hsl(0, 0%, 9%);
$wheat: hsl(44, 89%, 93%);



/*spacing */
$dp: 1rem;
$fz: 1rem;