@import "./var";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fira;
  cursor: none;
}

body {
  &::-webkit-scrollbar {
    background: $black;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $wheat;
    border-radius: 4px;
  }

  overflow-x: hidden;
}

.App {
  position: relative;
  height: 100%;
  background: $black;
}

.container {
  margin: 0 auto;
  padding: $dp;
}

.expand {
  transform: scaleX(1) !important;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%) !important;
  transition: 1s ease-in-out !important;
}
.wait-a-second {
  transform: scaleX(0) !important;
  transition: 1s 750ms ease-in-out !important;
}

.expand_link {
  &::before {
    transform: scaleY(0) !important;
    transition: 1500ms 750ms ease-in-out;
  }
}

.close-immediately {
  &::before {
    transform: scaleY(1) !important;
    transition: 1s ease-in-out !important;
  }
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 999;
  clip-path: polygon(100% 0, 0 0, 0 0%, 100% 100%);
  transform: scaleX(0);
  transform-origin: right;
  background: $wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;

  .nav {
    ul {
      list-style: none;

      li {
        padding: $dp * 2;
        overflow: hidden;
        position: relative;
        a {
          font-size: $fz * 4;
          text-decoration: none;
          color: $black;
          font-weight: 800;
          padding: $dp;

          &:hover {
            font-style: italic;
          }
        }

        &::before {
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          transform: scaleY(1);
          border-bottom: 4px $black solid;
          transform-origin: top;
          position: absolute;
          background: $wheat;
          transition: 1500ms 750ms ease-in-out;
        }
      }
    }
  }

  .close {
    top: $dp;
    right: $dp;
    text-decoration: underline;
    font-size: $fz * 2;
    font-weight: 800;
    position: absolute;
    color: $black;
  }
}

.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  color: $wheat;
  justify-content: center;
  span {
    font-size: $fz;
    a {
      color: $wheat;
    }
  }
}

.preloader {
  position: fixed;
  inset: 0;
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $wheat;

  h2 {
    font-size: 4 * $fz;
    font-weight: 600;
  }

  h4 {
    font-weight: 300;
    font-size: 1.8 * $fz;
    font-style: italic;
  }
  span {
    font-style: italic;
  }
}

@import "./custom/cursor";
@import "./pages/index";
@import "./pages/header";
@import "./pages/about_page";
@import "./pages/projects_page";
@import "./pages/contact_page";
